.footer{

    background:#111;

    color:white;

    padding:80px 8% 30px;
}

.footer-top{

    display:grid;

    grid-template-columns:
    2fr 1fr 1fr 1fr;

    gap:40px;
}

.footer h3{
    font-size:2rem;
    color:#ff4f8b;
}

.footer h4{
    margin-bottom:20px;
}

.footer a{

    display:block;

    color:#ccc;

    text-decoration:none;

    margin-bottom:12px;
}

.footer a:hover{
    color:#ff4f8b;
}

.footer-bottom{

    margin-top:50px;

    border-top:1px solid #333;

    padding-top:25px;

    text-align:center;

    color:#888;
}